[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"

[packages]
spacy = "*"
syllapy = "*"
beautifulsoup4 = "*"
asyncio = "*"
aiohttp = "*"
cchardet = "*"
tortoise-orm = "*"
aiosqlite = "*"
python-dateutil = "*"
aiodns = "*"
codetiming = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
